@use '../../partials/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  padding: 1rem;
}


@include mixins.desktop {
 .container {
    flex-direction: row;
    flex-wrap: wrap;
 } 
}

@include mixins.tablet {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  } 
 }

