.text {
	text-align: center;
}

.quantity-buttons {
	transition: 0.5s ease;
	border-radius: 1rem;
	font-weight: bold;
	font-size: 18px;
	padding: 1rem;
	margin: 0.5rem;
	opacity: 0.8;
	background-color: rgb(244, 218, 218);
	cursor: pointer;


	&:hover {
		opacity: 1;
		box-shadow: 0 3px 4px rgba(53, 55, 45, 0.501);
	}
}