@use '../../partials/palette.scss';

.container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	text-align: center;
	padding: 1rem;
	letter-spacing: .6rem;
	border-bottom: 1rem solid palette.$secondary-color;
	margin-bottom: 1rem;
}

.green-title {
	color: palette.$main-color;
}
