$basic-color-black:black;
$basic-color-white: white;
$main-color: rgb(125, 160, 140);
$secondary-color: rgb(244, 218, 218);
$tertiary-color: rgba(53, 55, 45, 0.501); 
$box-shadow-gold: rgb(245, 252, 205);
$box-shadow-dark: 0 6px 15px 0 rgba(0, 0, 0, 0.905);
$box-shadow-soft: #919090;
$background-light: rgb(249, 244, 244);
$error-messages: red;
$error-background: rgba(255, 0, 0, 0.202);





