@use '../../partials/mixins.scss';

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 80%;
  height: 20rem;
  border: 0.2rem solid rgba(155, 153, 153, 0.678);
  box-shadow: 0 3px 4px rgba(53, 55, 45, 0.501);
  border-radius: 1rem;
  align-items: center;
  opacity: 0.9;

  &:hover{
      transform: translateY(-3px);
      border: none;
      border-bottom: 0.5rem solid rgb(244, 218, 218);
      border-top: 0.5rem solid rgb(244, 218, 218);
      transition: all 0.30s ease-in;
      opacity: 1;

  }

  img {
    width: 70%;
    height: 70%;
    margin: auto;
    object-fit: cover;
  }
}

@include mixins.desktop {
  .card {
   width: 20%;
  } 
 }
 
 @include mixins.tablet {
   .card {
    width: 40%;
   } 
  }