@use '../../partials/mixins.scss';
@use '../../partials/palette.scss';

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 80%;
  height: 20rem;
  border: 0.15rem solid palette.$tertiary-color;
  box-shadow: 0 3px 4px palette.$box-shadow-soft;
  border-radius: 1rem;
  align-items: center;
  opacity: 0.9;

  &:hover{
      transform: translateY(-3px);
      border: none;
      border-bottom: 0.5rem solid palette.$secondary-color;
      border-top: 0.5rem solid palette.$secondary-color;
      transition: all 0.30s ease-in;
      opacity: 1;

  }

  img {
    width: 70%;
    height: 70%;
    margin: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 3px 4px palette.$box-shadow-soft;
  }
}

@include mixins.desktop {
  .card {
   width: 20%;
  } 
 }
 
 @include mixins.tablet {
   .card {
    width: 40%;
   } 
  }