.footer {
	text-align: center;
  background-color: rgba(125, 160, 140, 0.932);
  font-size: 1.3rem;
	border-top: 3px solid rgba(128, 128, 128, 0.679);
	color: white;
	padding: 1rem;
	position: relative;
	bottom: 0;


}