.card {
	display: flex;
	width: 80%;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	gap: 1rem;
	font-size: smaller;
}

.image {
	height: 200px;
	width: 50%;
	object-fit: cover;
	border-radius: 1rem;
	max-width: 150px;
}

.slides-buttons {
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	font-weight: bold;
	font-size: 18px;
	margin-top: -22px;
	padding: 16px;
	width: auto;
}